{% extends 'glowna.html' %}
{% load bootstrap %}

    {% block tytul %} Login {% endblock %}

{% block strona %}
<div class="row justify-content-center">
    <div class="card" style="width: 18rem;">

      <div class="card-body">
        <h5 class="card-title">Zaloguj się</h5>
            <form method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary">Zaloguj <i class="fas fa-sign-in-alt"></i> </button>
            </form>
      </div>
    </div>
    </div>
{% endblock %}