{% extends 'glowna.html' %}

    {% block tytul %} To do list {% endblock %}

{% block strona %}

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    {% if user.is_authenticated %}
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" >Cześć {{ user.username }}</a>


    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
         <a href="{% url 'logout' %}" class="btn btn-dark">Logout <i class="fas fa-sign-out-alt"></i></a>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
      </li>
    </ul>
  </nav>
<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3 bg-dark">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'caly_grafik' %}">
                <span data-feather="home"></span>
                <i class="fas fa-book"></i> Grafik
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'nowa_wycieczka' %}">
                <span data-feather="file"></span>
                <i class="fas fa-plus-circle"></i> Nowa wycieczka
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'list' %}">
                <span data-feather="todolist"></span>
                <i class="fas fa-tasks"></i> To do list
              </a>
            </li>


          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Lista rzeczy do zrobienia</h1>


        </div>
<div class="center-column">
    <div>

    <form method="POST" action="">
        {% csrf_token %}
        {{form.title}}
        <button type="submit" class="btn btn-primary" name="Dodaj zadanie">Dodaj zadanie</button>
    </form>
    {% for task in tasks %}
        <div class="item-row">
            <a class="btn btn-outline-dark" href="{% url 'update_task' task.id %}">Zmień</a>
            <a class="btn btn-outline-dark" href="{% url 'delete' task.id %}">Usuń</a>

            {% if task.complete == True %}
            <b><strike>{{task}}</strike></b>
            {% else %}
            <b><span>{{task}}</span></b>
            {% endif %}

        </div>
    {% endfor %}
    </div>
</div>

        </main>
    </div>
</div>
{% endblock %}